.App{
    height: 100vh;
    margin: 0 5%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boardSize > *{
    padding: 10%;
    margin: 10%;
}

.boardSize{
    height: auto;
    width: auto;
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boardSize button{
    margin: 0 10px;
}

button{
    margin: 15px auto;
}

.field{
    border: 3px black solid;
    width: 70px;
    height: 70px;
    /* padding: auto; */
}





/* .button_size_board > {
    padding: 2%;
}; */
